

:root {
  --primary-color: #131921;
  --secondary-color: #232f3e;
  --accent-color: #ff9900;
  --background-color: #f3f3f3;
  --card-bg: #ffffff;
  --text-color: #111;
  --light-text: #ffffff;
  --border-color: #ddd;
}

[data-theme="dark"] {
  --primary-color: #0f1111;
  --secondary-color: #1a1a1a;
  --accent-color: #ff9900;
  --background-color: #121212;
  --card-bg: #1e1e1e;
  --text-color: #f3f3f3;
  --border-color: #333;
}

body {
  margin: 0;
  background: var(--background-color);
  color: var(--text-color);
  font-family: "Segoe UI", sans-serif;
}
